creation_toggle .btn input {
  color: #000;
  background-color:#FFFCCE;
}

creation_toggle .btn:hover,
creation_toggle .btn:focus{
  background-color:#fff;
  color:#011;
  border-color:#122;
}

#creation_toggle label{
}

#account_form_multiple{
  display: none;
}

#creation_success,
#creation_success_multiple{
  display: none;
  color: green;
}

#creation_failure,
#creation_failure_multiple{
  display: none;
  color: red;
}
