 
/*body{
  padding-top: 70px;
}*/
	/*  Define the background color for all the EVEN background rows  */

table[class="table table-striped"]  {
	padding-right: 70px;
	padding-left: 70px;
}
table[class="table table-striped"]  tr.head {
  color: #000000;
  background-color:   #b33c00;
} 
  img{
    width:100%;
    max-height: 40%;
}
 
 