.ucInfo,
.ucInfo td,
.ucInfo th,
.ucInfo tr{
	border: 2px solid black;
	padding:2px;
}

.navPills li a{
	color:#000;
	border: 2px solid black;
}

.navPills li a:hover{
	background: #ffe6e6;
}

.navPills li.active a {
	background: #b33c00;
}

.navPills li.active a:hover {
	background: #b33c00;
}

.navPills li.active a:focus {
	background: #b33c00;
}

.navPills li.active a:visited {
	background: white;
}

.tab-pane {

}

.page-header {
     border: none;
}

#unitPage > .row:first-of-type {
	margin-top: 15px;
}

#unitPage h1 {
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

hr {
	margin-top: 5px;
	margin-bot: 5px;
}

#actionsButton{
	background: #222;
}
#actionsButton:hover,
#actionsButton:focus,
#actionsButton:active{
	background: #333;
	color: #fff;
}


/* OTHER BUTTON STUFF */

a.btn, .btn{
	color: #000;
	background-color: #ffffcc;
	border-color:#000;
}

.btn:hover,
.btn:focus,
a.btn:focus,
a.btn:hover{
	background-color:#fff;
	color:#011;
	border-color:#122;
}

.btn-header{
	color: #011;
	background-color:#cc6600;
	border-radius: 2px;
	border-color: #e0e0eb;
	text-decoration: none;
}

/* TABLE STUFF */


table[class="table table-striped"]  {
	padding-right: 70px;
	padding-left: 70px;
}
table[class="table table-striped"]  tr.head {
  color: #000000;
  background-color:   #b33c00;
} 
  img{
    width:100%;
    max-height: 40%;
}

/* MODAL DECORATION */

.btn-success{
	font-weight: bold;
	color: #000;
	background-color: #47d147;
	border-color:#000;
}

.btn-danger{
	font-weight: bold;
	color: #000;
	background-color: #ff471a;
	border-color:#000;
}

.btn-warning{
	font-weight: bold;
	color: #000;
	background-color: #ffd722;
	border-color:#000;
}

.approved{
	font-weight: bold;
	color:#47d147
}

.rejected{
	font-weight: bold;
	color: #ff471a;
}

.unanswered{
	font-weight: bold;
	color: #0c6cff;
}

.modal-content{
	border-top-left-radius: 20px !important;
	border-top-right-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
}

.modal-header{
	border-top-left-radius: 20px !important;
	border-top-right-radius: 20px !important;
	background-color: #fff7d8;
	border-color: #000;
}

.modal-footer{
	border-bottom-left-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
	background-color: #fff7d8;
	border-color: #000;
}

.modal-body{
	background-color: #fff9ec;
	border-color: #000;
}

