.ucInfo,
.ucInfo td,
.ucInfo th,
.ucInfo tr{
	border: 2px solid black;
	padding:2px;
}

.ucNavPills li a{
	color:#000;
	border: 2px solid black;
}

.ucNavPills li a:hover{
	background: #ffe6e6;
}

.ucNavPills li.active a {
	background: #b33c00;
}

.ucNavPills li.active a:hover {
	background: #b33c00;
}

.ucNavPills li.active a:focus {
	background: #b33c00;
}

.ucNavPills li.active a:visited {
	background: white;
}

.tab-pane {

}

.page-header {
     border: none;
}

#unitPage > .row:first-of-type {
	margin-top: 15px;
}

#unitPage h1 {
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

#actionsButton{
	background: #222;
}
#actionsButton:hover,
#actionsButton:focus,
#actionsButton:active{
	background: #333;
	color: #fff;
}